/* this is a comment in CSS */

body{
	font-family: 'Arima Madurai', cursive;
	
	/*the sans serif is used for fallback */

	background-color: #291B2C;
	
	/*background-color: rgb(255,255,255);*/
}

p{
	/*color: rgb(50,70,200);*/
	/*font-size: 20px; we can use more than px for font sizes*/
	/*font-size: 200%; we can use % relative to the default */
	font-size: 0.9em; /* 1em is 100% */
	
	text-align: center;

	color: #CCA969;
}	

h1{
	/*color:#4183D7;*/
	font-size: 3em;
	color: #CCA969;
	
}

a{
	padding:20px; /*this applies to all four sides, unless specify which side is applied*/
	margin: 50px ;
	/*color:#D24D57;*/
	color: #CCA969;
	font-size: 0.95em;
	
}

/*div{
	text-align: center;
}*/

#intro {
	text-align: left;
}

#links{
	text-align: center;
	padding: 1.5em;
	margin: 0 auto;
	position: relative;
	bottom: 0px;
	color: #A2DED0;
}

#picture{
	text-align: center;
}

.wiki {
	/*background-color: #913D88;*/
}

.everything{
	

}

#mybutton{
	position: center;
	font-size: 120%;
}